body {
  background-color: #f5f5f5;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 840px;
  width: 210mm;
  min-height: 297mm;
  background-color: #fff;
  margin: 0 -40px;
  padding: 32px;
  margin: 0 auto;
  box-sizing: border-box;
}

.container {
  > section {
    margin: 0 0 40px 0;
    padding: 24px;
    border: solid 2px #0000ff;

    h2 {
      text-align: left;
      margin: 0 -24px;
      line-height: 1;
      padding: 0 0 24px 24px;
      box-sizing: border-box;
      border-style: solid;
      border-color: var(--dosblue);
      border-width: 0 0 2px 0;
    }
  }
}
