.profile {
  h1 {
    text-align: center;
    @include separator;
  }
  .intro {
    display: flex;
    flex-direction: row;
    > * {
      flex: 1 50%;
    }
    .avatar {
      img {
        max-width: 400px;
      }
    }
    .info {
      display: flex;
      flex-direction: column;

      .links {
        margin-top: auto;
      }
    }
  }
}