.profile {
  h3 {
    margin-top: 0;
    @include separator;
  }
  .intro {
    display: flex;
    flex-direction: row;
    > * {
      flex: 1 50%;
    }
    .avatar {
      margin: -40px -40px 0 0;
      img {
        width: 100%;
        object-fit: cover;
      }
    }
    .info {
      display: flex;
      flex-direction: column;

      .summary {
        padding-right: 40px;
        p {
          text-align: justify;
        }
      }
      .links {
        margin-top: auto;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        > a {
          line-height: 1;
          color: #000;
          font-size: 2rem;
        }
      }
    }
  }
}