section {
    &.quickInfo {
        display: flex;
        flex-direction: column;

        .classStyle {
            font-family: Inconsolata;

            div {
                border-style: solid;
                border-color: var(--duotone-light);
                border-width: 0 0 0 2px;
                padding-left: 8px;

                > div {
                    margin-left: 24px;
                }
            }

            svg {
                font-size: 1.5rem;
                color: var(--duotone-light);
            }
        }

        .tagcloud {
            display: flex;
            flex-direction: row;

            > div {
                border-style: solid;
                border-color: var(--dosblue);
                border-width: 0 2px 0 0;
                margin-right: 16px;

                &:last-child {
                    border-right: none;
                    margin-right: 0;
                }
            }

            .tag {
                @include tag;
            }
        }
    }
}