section {
    &.quickInfo {
        display: flex;
        flex-direction: column;

        .classStyle {
            div {
                border-left: solid 2px $duotone_light;
                padding-left: 8px;
                > div {
                    margin-left: 24px;
                }
            }
            svg {
                font-size: 1.5rem;
                color: $duotone_light;
            }
        }

        .tagcloud {
            display: flex;
            flex-direction: row;
            > div {
                border-right: solid 2px $dosblue;
                margin-right: 16px;
                &:last-child {
                    border-right: none;
                    margin-right: 0;
                }
            }
        }

        table {
            font-size: 0.875rem;
            border-collapse: collapse;
            width: 100%;

            tr {
                &:nth-child(even) {
                    background: $accentColor;
                    color: #fff;
                }

                td {
                    vertical-align: top;
                    padding: .5rem;
                }
                td:first-child {
                    width: 40%;
                }
                td:last-child {
                    width: 60%;
                }
            }

            .lang {
                display: block;
                .level {
                    color: $lightPrimary;
                }
            }
        }
        .tag {
            @include tag;
        }
    }
}