@import url('https://fonts.googleapis.com/css?family=Montserrat|Open+Sans|Inconsolata&display=swap');

html {
    font-size: 16px;
}

body {
    background-color: white;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    line-height: 1.35;
    color: $textColor;
}

p {
    margin-bottom: 1.25em;
    margin-top: 0
}

h1, h2, h3, h4, h5 {
    margin: 2.75rem 0 1rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    line-height: 1.15;
    color: #000;
}

h1,h2 {
    margin-top: 0;
    font-size: 2.25em;
    color: $dosblue;
}

h3 {
    font-size: 1.953em;
}

h4 {
    font-size: 1.563em;
}

h5 {
    font-size: 1.5em;
}

small, .text_small {
    font-size: 0.8em;
}